

<form [formGroup]="user3010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> New User </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> User Id </mat-label>
                    <input matInput formControlName="userId" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Role </mat-label>
                    <!-- <input matInput formControlName="role" required> -->
                    <mat-select formControlName="role"
                                (selectionChange)="onSelectRole($event)">
                        <mat-option *ngFor="let key of roleKeys"
                                    [value]="Role[key]">{{ key | enumTransform  }}</mat-option>
                    </mat-select>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> First Name </mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Last Name </mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>


        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Password </mat-label>
                    <input matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button
                            matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">

                        <mat-icon><i class="fas fa-eye fa-fw"></i></mat-icon>
                    </button>
                    <mat-error> Invalid password </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput formControlName="email" >
                </mat-form-field>
            </div>

        </div>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Confirm Password </mat-label>
                    <input matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="errorMatcher" (input)=onChangeConfirm() required>
                    <button mat-icon-button
                            matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">

                        <mat-icon><i class="fas fa-eye fa-fw"></i></mat-icon>
                    </button>
                    <mat-error *ngIf="user3010Form.hasError('notMatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="col-sm-12 col-md-12">
            <div class="password-guidelines">

                <label> Password Guidelines </label>

                <ul>
                    <li *ngIf="user3010Form.get('password').hasError('minLength')" >
                        <i class="fas fa-times fa-fw"></i>
                        Minimum of 8 characters
                    </li>

                    <li *ngIf="!user3010Form.get('password').hasError('minLength')" >
                        <i class="fas fa-check fa-fw"></i>
                        Minimum of 8 characters
                    </li>

                    <li *ngIf="this.user3010Form.get('password').hasError('invalidPattern')">
                        <i class="fas fa-times fa-fw"></i>
                        Must be alphanumeric
                    </li>

                    <li *ngIf="!this.user3010Form.get('password').hasError('invalidPattern')">
                        <i class="fas fa-check fa-fw"></i>
                        Must be alphanumeric
                    </li>

                    <li *ngIf="this.user3010Form.get('password').hasError('containsUsername')">
                        <i class="fas fa-times fa-fw"></i>
                        Does not contain username
                    </li>

                    <li *ngIf="!this.user3010Form.get('password').hasError('containsUsername')">
                        <i class="fas fa-check fa-fw"></i>
                        Does not contain username
                    </li>

                    <li *ngIf="this.user3010Form.get('password').hasError('repeatingChar')">
                        <i class="fas fa-times fa-fw"></i>
                        Does not contain consecutive repeating characters
                    </li>

                    <li *ngIf="!this.user3010Form.get('password').hasError('repeatingChar')">
                        <i class="fas fa-check fa-fw"></i>
                        Does not contain consecutive repeating characters
                    </li>
                </ul>

            </div>
        </div>
    
    </mat-expansion-panel>
</form>
