<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Login to Beans Web App
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <div>
                    <span class="preIcon"><mat-icon>account_circle</mat-icon></span>
                    <mat-form-field appearance="outline">
                        <mat-label> User ID </mat-label>
                        <input matInput formControlName="userId" required>
                    </mat-form-field>
                </div>
                <div>
                    <span class="preIcon"><mat-icon>vpn_key</mat-icon></span>

                    <mat-form-field appearance="outline">
                        <mat-label> Password </mat-label>
                        <input matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="password" required>

                        <button mat-icon-button
                                matSuffix
                                type="button"
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">

                        <span><mat-icon>remove_red_eye</mat-icon></span>
                        </button>
                    </mat-form-field>
                </div>
        

                <div class="login-footer align-right">
                    <span class="fill-space"></span>
                    <button mat-raised-button (click)="login()">
                        <span> Login </span>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>


