<div class="main-container">
    <div class="form-container">
        <div class="form-header">
            <span class="form-title">Author Details</span>
            <span class="fill-space"></span>
            <button mat-icon-button  *ngIf="formDisable">
                <a matTooltip="Edit Author" (click)="onClickEdit()">
                    <i class="fa fa-edit fa-fw"></i>
                </a>
            </button>

            <ng-container *ngIf="!formDisable">
                <button mat-icon-button>
                    <a matTooltip="Reset Author" (click)="onClickReset()">
                        <i class="fa fa-undo fa-fw"></i>
                    </a>
                </button>

                <button mat-icon-button>
                    <a matTooltip="Save Author" (click)="onClickSave()">
                        <i class="fa fa-save fa-fw"></i>
                    </a>
                </button>
            </ng-container>
        </div>
        <div class="form-body">
            <app-author2010-display-details
                [formDisable]="formDisable"
                [authorToDisplay]="authorToDisplay"
            ></app-author2010-display-details>
        </div>
    </div>
</div>
