
<!--    Date Picker Component    -->

<mat-form-field appearance="outline">
    <mat-label>{{ dateFieldName }}<i *ngIf="isRequired" class="fa fa-asterisk fa-fw"></i></mat-label>

    <input matInput [matDatepicker]="datePicker"
                    [min]="minimumDate"
                    [max]="maximumDate"
                    [disableControl]="disabled"
                    [formControl]="dateForm"
                    (dateInput)="onSelectDate($event)">

    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>

    <mat-error>{{dateError}}</mat-error>
</mat-form-field>
