<div class="main-container">
    <div class="form-container">
        <div class="form-header">
            <span class="form-title">Book Search</span>
            <span class="fill-space"></span>
            <ng-container *ngIf="!checkBookResultLength()">
                <button mat-icon-button>
                    <a matTooltip="Reset Form" (click)="onClickReset()">
                        <i class="fa fa-undo fa-fw"></i>
                    </a>
                </button>

                <button mat-icon-button>
                    <a matTooltip="Search Book" (click)="onClickSearch()">
                        <i class="fa fa-search fa-fw"></i>
                    </a>
                </button>
            </ng-container>

            <ng-container *ngIf="checkBookResultLength()">
                <button mat-icon-button>
                    <a matTooltip="Back to search" (click)="onClickBack()">
                        <i class="fa fa-arrow-left fa-fw"></i>
                    </a>
                </button>
            </ng-container>
        </div>

        <ng-container *ngIf="!checkBookResultLength()">
            <div class="form-body">
                <app-book4010-search-panel
                ></app-book4010-search-panel>
            </div>
        </ng-container>

        <ng-container *ngIf="checkBookResultLength()">
            <div class="form-body">
                <app-book4020-search-results
                    [searchedBookList]="searchedBookList"
                    [totalElements]="totalElements"
                ></app-book4020-search-results>
            </div>
        </ng-container>

    </div>
</div>
