

<form [formGroup]="book4010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Book Criteria </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Title </mat-label>
                    <input matInput formControlName="title" [disableControl]="false">
                </mat-form-field>
            </div>

            <!-- <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Format </mat-label>
                    <input matInput formControlName="format" [disableControl]="false">
                </mat-form-field>
            </div> -->

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Format </mat-label>
                    <mat-select formControlName="format" [disableControl]="false">
                        <mat-option *ngFor="let key of formatKeys"
                                    [value]="Format[key]">{{ key | enumTransform  }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    
    
    </mat-expansion-panel>
</form>
