
<!--    Daterange Picker Components    -->

<mat-form-field appearance="outline">
    <mat-label>{{ dateRangeFieldName }}</mat-label>

    <input matInput
           [satDatepicker]="picker"
           [formControl]="dateRangeForm"
          (dateInput)="onSelectDateRange($event)">

    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
</mat-form-field>
