
<div class="main-container">
    <div class="form-container">
        <div class="form-header">
            <span class="form-title">Author List</span>
            <span class="fill-space"></span>
        </div>
        <div class="form-body">
            <app-author1010-list-table></app-author1010-list-table>
        </div>
    </div>
</div>
