<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title> Author Table </mat-panel-title>
    </mat-expansion-panel-header>

    <ag-grid-angular #agGrid
        style="width: 100%; height: 500px;"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        [rowData]="authorList"
        (selectionChanged)="onSelectAuthor()"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>

    <mat-paginator [length]="totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="onPageSelect($event)">
    </mat-paginator>


</mat-expansion-panel>