

<form [formGroup]="publisher4010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Publisher Criteria </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Name </mat-label>
                    <input matInput formControlName="name" [disableControl]="false">
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> City </mat-label>
                    <input matInput formControlName="city" [disableControl]="false">
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Country </mat-label>
                    <input matInput formControlName="country" [disableControl]="false">
                </mat-form-field>
            </div>
        </div>
    
    
    </mat-expansion-panel>
</form>
