
<!--    Datetime Picker Component    -->

<mat-form-field appearance="outline">
    <mat-label> {{ dateTimeFieldName }} <i *ngIf="isRequired" class="fas fa-asterisk fa-fw"></i></mat-label>

    <input matInput
           [matDatepicker]="dateTimePicker"
           [min]="minimumDate"
           [disableControl]="disabled"
           [formControl]="dateTimeForm"
           (dateInput)="onSelectDateTime($event)">

    <mat-datepicker-toggle matSuffix [for]="dateTimePicker"></mat-datepicker-toggle>
    <mat-datepicker #dateTimePicker></mat-datepicker>

    <mat-error>{{dateTimeError}}</mat-error>
</mat-form-field>
