<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Update Password
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="passwordForm">
                <div>
                    <span class="preIcon"><mat-icon><i class="fas fa-lock fa-fw"></i></mat-icon></span>
                    <mat-form-field appearance="outline">
                        <mat-label> Old Password </mat-label>
                        <input matInput formControlName="oldPassword"  [type]="!hide ? 'password' : 'text'">

                        <button mat-icon-button
                                matSuffix
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">

                        <mat-icon><i class="fas fa-eye fa-fw"></i></mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <span class="preIcon"><mat-icon><i class="fas fa-unlock-alt fa-fw"></i></mat-icon></span>

                    <mat-form-field appearance="outline">
                        <mat-label> New Password </mat-label>
                        <input matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="newPassword" (input)="onNewChange($event.target.value)">

                        <button mat-icon-button
                                matSuffix
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">

                            <mat-icon><i class="fas fa-eye fa-fw"></i></mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div>
                    <span class="preIcon"><mat-icon><i class="fas fa-lock-alt fa-fw"></i></mat-icon></span>

                    <mat-form-field appearance="outline">
                        <mat-label> Confirm New Password </mat-label>
                        <input matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="errorMatcher">

                        <button mat-icon-button
                                matSuffix
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">

                            <mat-icon><i class="fas fa-eye fa-fw"></i></mat-icon>
                        </button>
                        <mat-error *ngIf="passwordForm.hasError('notMatch')">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="auth-password-requirements">
                    <ul>
                        <li *ngIf="passwordForm.get('newPassword').hasError('minLength')">
                            <i class="fas fa-times fa-fw"></i>
                            Minimum of 8 characters
                        </li>

                        <li *ngIf="!passwordForm.get('newPassword').hasError('minLength')">
                            <i class="fas fa-check fa-fw"></i>
                            Minimum of 8 characters
                        </li>

                        <li *ngIf="this.passwordForm.get('newPassword').hasError('invalidPattern')">
                            <i class="fas fa-times fa-fw"></i>
                            Must be alphanumeric
                        </li>

                        <li *ngIf="!this.passwordForm.get('newPassword').hasError('invalidPattern')">
                            <i class="fas fa-check fa-fw"></i>
                            Must be alphanumeric
                        </li>

                        <li *ngIf="this.passwordForm.get('newPassword').hasError('containsUsername')">
                            <i class="fas fa-times fa-fw"></i>
                            Does not contain username
                        </li>

                        <li *ngIf="!this.passwordForm.get('newPassword').hasError('containsUsername')">
                            <i class="fas fa-check fa-fw"></i>
                            Does not contain username
                        </li>

                        <li *ngIf="this.passwordForm.get('newPassword').hasError('repeatingChar')">
                            <i class="fas fa-times fa-fw"></i>
                            Does not contain consecutive repeating characters
                        </li>

                        <li *ngIf="!this.passwordForm.get('newPassword').hasError('repeatingChar')">
                            <i class="fas fa-check fa-fw"></i>
                            Does not contain consecutive repeating characters
                        </li>
                    </ul>
                </div>

                <div class="login-footer align-right">
                    <span class="fill-space"></span>
                    <button mat-raised-button (click)="backToLogin()">
                    <span><i class="fas fa-arrow-left fa-fw"></i></span>
                    </button>
                    <button mat-raised-button (click)="changePassword()">
                        <span> Change Password </span>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>


