<div class="main-container">
    <div class="form-container">
        <div class="form-header">
            <span class="form-title">Publisher Create</span>
            <span class="fill-space"></span>
                <button mat-icon-button>
                    <a matTooltip="Reset Form" (click)="onClickReset()">
                        <i class="fa fa-undo fa-fw"></i>
                    </a>
                </button>

                <button mat-icon-button>
                    <a matTooltip="Add Publisher" (click)="onClickAdd()">
                        <i class="fa fa-user-plus fa-fw"></i>
                    </a>
                </button>
        </div>
        <div class="form-body">
            <app-publisher3010-form-panel></app-publisher3010-form-panel>
        </div>
    </div>
</div>
