

<form [formGroup]="publisher3010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> New Publisher </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Name </mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> City </mat-label>
                    <input matInput formControlName="city" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>


        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Country </mat-label>
                    <input matInput formControlName="country" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput formControlName="email" >
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Telephone </mat-label>
                    <input matInput formControlName="telephone" >
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>
        </div>

    </mat-expansion-panel>
</form>
