

<form [formGroup]="user4010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Search Form </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> User Id </mat-label>
                    <input matInput formControlName="userId" [disableControl]="false">
                </mat-form-field>
            </div>
<!-- 
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Role </mat-label>
                    <input matInput formControlName="role" [disableControl]="false">
                </mat-form-field>
            </div> -->

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Role </mat-label>
                    <mat-select formControlName="role" [disableControl]="false"
                                (selectionChange)="onSelectRole($event)">
                        <mat-option *ngFor="let key of roleKeys"
                                    [value]="Role[key]">{{ key | enumTransform  }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> First Name </mat-label>
                    <input matInput formControlName="firstName" [disableControl]="false">
                </mat-form-field>
            </div>
            
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Last Name </mat-label>
                    <input matInput formControlName="lastName" [disableControl]="false">
                </mat-form-field>
            </div>


        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput formControlName="email" [disableControl]="false">
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <!-- <mat-form-field appearance="outline">
                    <mat-label> Last Login Date </mat-label>
                    <input matInput formControlName="lastLoginDate" [disableControl]="false">
                </mat-form-field> -->
                <app-daterange-picker 
                        [fieldName]="lastLoginDateTxt"
                        [resetDateRange]="resetAllDate"
                        (dateRangeSelection)="onSelectLastLoginDate($event)">
                </app-daterange-picker>
            </div>
        </div>
    
    
    </mat-expansion-panel>
</form>
