

<form [formGroup]="author3010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> New Author </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> First Name </mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Last Name </mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

        </div>

    </mat-expansion-panel>
</form>
