<div class="main-container">
    <div class="form-container">
        <div class="form-header">
            <span class="form-title">Author Search</span>
            <span class="fill-space"></span>
            <ng-container *ngIf="!checkAuthorResultLength()">
                <button mat-icon-button>
                    <a matTooltip="Reset Form" (click)="onClickReset()">
                        <i class="fa fa-undo fa-fw"></i>
                    </a>
                </button>

                <button mat-icon-button>
                    <a matTooltip="Search Author" (click)="onClickSearch()">
                        <i class="fa fa-search fa-fw"></i>
                    </a>
                </button>
            </ng-container>

            <ng-container *ngIf="checkAuthorResultLength()">
                <button mat-icon-button>
                    <a matTooltip="Back to search" (click)="onClickBack()">
                        <i class="fa fa-arrow-left fa-fw"></i>
                    </a>
                </button>
            </ng-container>
        </div>

        <ng-container *ngIf="!checkAuthorResultLength()">
            <div class="form-body">
                <app-author4010-search-panel
                ></app-author4010-search-panel>
            </div>
        </ng-container>

        <ng-container *ngIf="checkAuthorResultLength()">
            <div class="form-body">
                <app-author4020-search-results
                    [searchedAuthorList]="searchedAuthorList"
                    [totalElements]="totalElements"
                ></app-author4020-search-results>
            </div>
        </ng-container>

    </div>
</div>
