

<form [formGroup]="publisher2010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Publisher </mat-panel-title>
        </mat-expansion-panel-header>
    

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Name </mat-label>
                    <input matInput formControlName="name" [disableControl]="formDisable">
                </mat-form-field>
            </div>
            
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> City </mat-label>
                    <input matInput formControlName="city" [disableControl]="formDisable">
                </mat-form-field>
            </div>


        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Country </mat-label>
                    <input matInput formControlName="country" [disableControl]="formDisable">
                </mat-form-field>
            </div>

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput formControlName="email" [disableControl]="formDisable">
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Telephone </mat-label>
                    <input matInput formControlName="telephone" [disableControl]="formDisable">
                </mat-form-field>
            </div>
        </div>
    
    
    </mat-expansion-panel>
</form>
