<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title> User Table </mat-panel-title>
    </mat-expansion-panel-header>

    <ag-grid-angular #agGrid
        style="width: 100%; height: 500px;"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        [rowData]="userList"
        (selectionChanged)="onSelectUser()"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>

    <!-- <ag-grid-angular
        style="width: 500px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        >
    </ag-grid-angular> -->

</mat-expansion-panel>