/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ag-theme-alpine {
    @include ag-theme-alpine();
}


.main-container {
    max-width: 1440px;
    margin: 10px 10px;
    height: 100%;
}

.login-container {
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 600px;

    .mat-card-header{
        background-color:rgba(0, 0, 255, 0.548) !important;
        padding: 5px !important;
        height: 50px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;

        .mat-card-header-text {
            width: 100%;
        }

        .mat-card-title {
            text-align: center;
            padding-top: 10px;
            color: white;
        }
      }
      
      .mat-card{
        padding:0 !important;
        border-radius: 1em;
      }
      
      .mat-card-content{
        padding:15px !important;

        .mat-form-field {
            margin-left: 25px;
            width: 80%;

            .mat-icon {
                color: rgb(185, 185, 185);
            }
        }

        .preIcon {
            .mat-icon {
                font-size: 2em;
            }
        }


        .login-footer {
            padding-top: 10px;
            padding-bottom: 5px;
        }

        .align-right {
            text-align: right;
        }
      }
}

.fill-space {
    flex: 1 1 auto;
}

.form-container{
    margin: 10px 10px;
    border: 1px solid rgb(230, 230, 230);

    .form-header {
        background-color: rgb(231, 231, 231);
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 8px 20px;

        .form-title {
            font-size: medium;
            font-weight: 500;
        }

        .form-title-button {
            vertical-align: middle;
            
            .mat-icon {
                vertical-align: middle;
            }
        }
    }

    .form-body {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
}

mat-form-field {
    width: 100%;
}


