<ng-container
    *ngIf="isAuthenticated(); then authenticated; else notauthenticated">
</ng-container>

<ng-template #authenticated>
    <mat-toolbar color="primary" >
        <mat-toolbar-row>
    
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="toolbar-center">
                <a mat-button routerLink="/book">
                    Book
                </a>
                <a mat-button routerLink="/author">
                    Author
                </a>
                <a mat-button routerLink="/publisher">
                    Publisher
                </a>
                <a mat-button routerLink="/user">
                    User
                </a>
            </div>

            <span class="user-full-name">
                {{ user?.lastName +  ", "  + user?.firstName }}
            </span>

            <button mat-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu" yPosition="below">
                <button mat-menu-item>Profile</button>
                <button mat-menu-item (click)="onClickLogout()">Logout</button>
            </mat-menu>
    
        </mat-toolbar-row>
    </mat-toolbar>
        <mat-sidenav-container  fullscreen>
    
            <mat-sidenav #sidenav mode="side" opened role="navigation">
                <ng-container *ngIf="currentBaseRoute === 'user' || currentBaseRoute === ''">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/user/new">
                            <mat-icon matListIcon>add_circle</mat-icon>
                            <span>Add User</span>
                        </a>
                        <a mat-list-item routerLink="/user/list">
                            <mat-icon matListIcon>list</mat-icon>
                            <span>List Users</span>
                        </a>
                        <a mat-list-item routerLink="/user/search">
                            <mat-icon matListIcon>search</mat-icon>
                            <span>Search User</span>
                        </a>
                   
                    </mat-nav-list>
                </ng-container>
        
                <ng-container *ngIf="currentBaseRoute === 'book'">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/book/new">
                            <mat-icon matListIcon>add_circle</mat-icon>
                            <span>Add Book</span>
                        </a>
                        <a mat-list-item routerLink="/book/list">
                            <mat-icon matListIcon>list</mat-icon>
                            <span>List Book</span>
                        </a>
                        <a mat-list-item routerLink="/book/search">
                            <mat-icon matListIcon>search</mat-icon>
                            <span>Search Book</span>
                        </a>
                    </mat-nav-list>
                </ng-container>

                <ng-container *ngIf="currentBaseRoute === 'author'">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/author/new">
                            <mat-icon matListIcon>add_circle</mat-icon>
                            <span>Add Author</span>
                        </a>
                        <a mat-list-item routerLink="/author/list">
                            <mat-icon matListIcon>list</mat-icon>
                            <span>List Author</span>
                        </a>
                        <a mat-list-item routerLink="/author/search">
                            <mat-icon matListIcon>search</mat-icon>
                            <span>Search Author</span>
                        </a>
                    </mat-nav-list>
                </ng-container>

                <ng-container *ngIf="currentBaseRoute === 'publisher'">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/publisher/new">
                            <mat-icon matListIcon>add_circle</mat-icon>
                            <span>Add Publisher</span>
                        </a>
                        <a mat-list-item routerLink="/publisher/list">
                            <mat-icon matListIcon>list</mat-icon>
                            <span>List Publisher</span>
                        </a>
                        <a mat-list-item routerLink="/publisher/search">
                            <mat-icon matListIcon>search</mat-icon>
                            <span>Search Publisher</span>
                        </a>
                    </mat-nav-list>
                </ng-container>
        
            </mat-sidenav>
        
            <mat-sidenav-content role="main">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
</ng-template>


<ng-template #notauthenticated>
    <router-outlet></router-outlet>
</ng-template>


