.mat-sidenav-container {
    margin-top: 64px;
 
}

.mat-sidenav {
    width: 250px;
}



.toolbar-center {
    flex: 1 1 auto;
    text-align: center;
}

.user-full-name {
    font-size: 12px;
}

.mat-menu-item {
    font-size: 12px;
}