

<form [formGroup]="book3010Form">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> New Book </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Title </mat-label>
                    <input matInput formControlName="title">
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

            <!-- <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Format </mat-label>
                    <input matInput formControlName="format" [disableControl]="formDisable">
                </mat-form-field>
            </div> -->

            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Format </mat-label>
                    <mat-select formControlName="format">
                        <mat-option *ngFor="let key of formatKeys"
                                    [value]="Format[key]">{{ key | enumTransform  }}</mat-option>
                    </mat-select>
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Price </mat-label>
                    <input type="number" matInput formControlName="price">
                    <mat-error>{{ errorMessage }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6">
                <app-date-picker 
                            [fieldName]="publishDateLabel"
                            [resetDate]="resetDate"
                            [required]="required"
                            [displayDate]="publishDateDisplay"
                            [saveDateAttempt]="saveDateAttempt"
                            (dateSelection)="onSelectPublishDate($event)"
                            (dateSaveAttemptEvent)="onAttemptSaveDate($event)"
                            (dateResetEvent)="onResetPublishDate($event)">
                </app-date-picker>
            </div>
        </div>
    
    
    </mat-expansion-panel>
</form>
